body {
  background-color: silver;
  font-size: 14px;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 28px;
  padding: 1.5px 0;
}

h2 {
  font-size: 22px;
  padding: 1.2px 0;
}

h3 {
  font-size: 20px;
  padding: 1.2px 0;
}

h4 {
  font-size: 17px;
  font-weight: normal;
  padding: 1.2px 0;
}

a {
  text-decoration: none;
}

.field-label {
  font-weight: bold;
  margin-right: 10px;
}

i.ss {   
  width: 12px;
  text-align:center;
  vertical-align:middle;
}
/*only :after works*/
i.ss:after {
  content:'';
  padding-top:100%;
  display:inline-block;
  vertical-align:middle;
}