body {
  background-color: orange;
  font-size: 14px;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 28px;
  padding: 1.5px 0;
}

h2 {
  font-size: 22px;
  padding: 1.2px 0;
}

h3 {
  font-size: 20px;
  padding: 1.2px 0;
}

h4 {
  font-size: 17px;
  font-weight: normal;
  padding: 1.2px 0;
}

a {
  text-decoration: none;
}

.field-label {
  font-weight: bold;
  margin-right: 10px;
}

i.ss {   
  width: 12px;
  text-align:center;
  vertical-align:middle;
}
/*only :after works*/
i.ss:after {
  content:'';
  padding-top:100%;
  display:inline-block;
  vertical-align:middle;
}

.xb {
  height: 30px;
  padding: 0;
}

#search-button.xb {
  padding: 0 10px;
  font-size: 10px;
}

/* carousel */
.carousel {
  margin-bottom: 20px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-caption {
  position: absolute;
  top: 30%;
  width: 30%;
  margin-left: auto;
  margin-right: -4%;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 50vh;
  margin-left: 25%;
  border-radius: 30%;
  padding: 10px;

}
.carousel a {
  margin: 0;
}
@media (max-width: 1200px) {

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-caption h2 {
    font-size: 2vw;
    
  }

  .carousel-caption {
    position: absolute;
    top: 0;
    width: auto;
  }

  .carousel img {
    height: 50vh;
    margin: 10% auto auto auto;
    border-radius: 20%;
    padding: 30px;
  }

}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
    
  }

  .carousel-caption {
    position: absolute;
    top: 0;
  }

  .carousel img {
    height: auto;
    padding: 30px;
    margin: 40px;
    border-radius: 30%;
    margin-left: auto;
    margin-right: auto;
  }

}